{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}
{% block body %}
	<main class="main_container">
		<section class="product_head">
			<div class="product_head_item ">
				<h2 class="product_head_title">Panier</h2>
			</div>
		</section>
		<section class="section_table_shop ">
			<div class="dashboard-table active ">
				<table id="shop_panier" class="shop__panier ">
					<caption>Liste des produits</caption>
					<thead class="">
						<tr>
							<th class="th-shop">Produit</th>
							<th class="th-shop">Prix</th>
							<th class="th-shop">Quantité</th>
							<th class="th-shop">Total</th>
							<th>Supprimer produits</th>
						</tr>
					</thead>
					<tbody>
						{% set panierVide = true %}
						{% for item in panier %}
							{% if item.quantity > 0 %}
								{% set panierVide = false %}
								<tr class="color">
									<td
										data-label="nom">
										{# <a href="{{ path('show_produits', {'id': produit.id}) }}"> #}

										{{ item.produit.getTitle() }}</td>
									{# </a> #}
									<td data-label="Tarifs">
										{{ item.produit.getPrice() }}€</td>
									<td class="quantity-text " data-label="Quantité">
										<a href="{{ path('add_item', {'id': item.produit.getId()}) }}">
											<i class="uil uil-plus-circle"></i>
										</a>
										{{ item.quantity }}
										<a href="{{ path('retirer_quantite', {'id': item.produit.getId()}) }}">
											<i class="uil uil-minus-circle"></i>
										</a>
									</td>
									<td data-label="Total">
										{{ item.produit.getPrice() * item.quantity }}
										€
									</td>
									<td data-label="Suprimer">
										<a href="{{ path('supprimer_produit', {'id': item.produit.getId()}) }}">
											<i class="uil uil-times-circle"></i>
										</a>
									</td>
								</tr>


							</tr>
						{% endif %}
					{% endfor %}

					{% if panierVide %}
						<tr>
							<td colspan="5">Panier vide</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		 </div>
		</section>

	<section class="section_total-commande ">
		<h2>Prix total panier :
			<span>{{ total }}
				€</span>
		</h2>

		<a class="btn_commande" href="{{ path('formulaire_paiement') }}">Commande</a>
	</section>
</main>{% endblock %}
