{% extends 'base.html.twig' %}

{% block title %}Ajouter Produits
{% endblock %}

{% block body %}
	<main class="dashboard_container">
		<section class="product_add_section ">
			<h1 class="dash_title_add">List des produits</h1>
			<div class="dashboard-table active">
				<table>
					<caption>produitalité</caption>
					<thead>
						<tr>
							<th>#</th>
							<th>Titre</th>
							<th>Quantité</th>
							<th>crée le</th>
							<th>modifier le</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for produit in produits|reverse %}
							<tr class="color">
								<a href="{{ path('show_produits', {'id': produit.id}) }}">
									<td data-label="Titre">{{ produit.id }}</td>
									<td data-label="Titre">{{ produit.title }}</td>
									<td data-label="Titre">{{ produit.stock }}</td>
									<td data-label="date">{{ produit.createdAt | date('d/m/Y') }}</td>
									<td data-label="date">{{ produit.updatedAt | date('d/m/Y') }}</td>
								</a>
								<td data-label="Action">
									<a href="{{ path('update_produit', {'id': produit.id}) }}">
										<i class="uil uil-external-link-alt"></i>
									</a>
									<a href="{{ path('archiver_un_produit', {'id': produit.id}) }}">
										<i class="uil uil-trash-alt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		<section class="product_add_section ">
			<h1 class="dash_title_add">produit Archiver</h1>
			<div class="dashboard-table active">
				<table>
					<caption>produitalité</caption>
					<thead>
						<tr>
							<th>#</th>
							<th>Titre</th>
							<th>Quantité</th>
							<th>crée le</th>
							<th>modifier le</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for produit in archiver|reverse %}
							<tr class="color">
								<a href="{{ path('show_produits', {'id': produit.id}) }}">
									<td data-label="Titre">{{ produit.id }}</td>
									<td data-label="Titre">{{ produit.title }}</td>
									<td data-label="Titre">{{ produit.stock }}</td>
									<td data-label="date">{{ produit.createdAt | date('d/m/Y') }}</td>
									<td data-label="date">{{ produit.updatedAt | date('d/m/Y') }}</td>
								</a>
								<td data-label="Action">
									<a href="{{ path('restaurer_un_produit', {'id': produit.id}) }}">
										<i class="uil uil-export"></i>
									</a>
									<a href="{{ path('supprimer_un_produit', {'id': produit.id}) }}">
										<i class="uil uil-times-circle"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>
{% endblock %}
